{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        {% comment %} EL TÍTULO RESPECTO A LA PÁGINA {% endcomment %}
        <title>{% block title %}{% endblock title %}</title> 
        {% comment %} EL TÍTULO RESPECTO A LA PÁGINA {% endcomment %}
        <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static '/css/styles.min.css' %}">
    </head>

    <body>
        <div class="col-lg-12 offset-lg-0">
            {% comment %} IMPORTAMOS NAVBAR {% endcomment %}
            {% include 'base/navbar.html' %}
        </div>
        <div class="col">
            {% comment %} COMIENZA EL CONTENIDO {% endcomment %}
            {% block content %}
            {% endblock %}
            {% comment %} TERMINA EL CONTENIDO {% endcomment %}
        </div>
        <div class="col">
            {% comment %} IMPORTAMOS FOOTER {% endcomment %}
            {% include 'base/footer.html' %}
        </div>
        <script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
        {% comment %} Los scripts se agregan con {% static '<LA RUTA DE LOS JS>' %} {% endcomment %}
    </body>
    
    </html>