{% block vavbar %}
  {% load static %}
  <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: #00171f;">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0">
            <div class="sidebar-brand-text mx-3"><span>AxolotlTeam</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item"><a class="nav-link {{home}}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
            <li class="nav-item"><a class="nav-link {{workerProfile}}"><i class="fas fa-user"></i><span>Profile</span></a></li>
            <li class="nav-item"><a class="nav-link {{org}}" href="#"><i class="fas fa-building"></i><span>Organization</span></a></li>
            <li class="nav-item"><a class="nav-link {{org}}" href="#"><i class="fas fa-id-card"></i><span>Providers</span></a></li>
            <li class="nav-item"><a class="nav-link {{org}}" href="#"><i class="fas fa-users"></i><span>My department</span></a></li>
            <li class="nav-item"><a class="nav-link {{org}}" href="#"><i class="fas fa-address-book"></i><span>My agenda</span></a></li>
            <li class="nav-item"><a class="nav-link {{org}}" href="#"><i class="fas fa-cubes"></i><span>Warehouse</span></a></li>
            <li class="nav-item"><a class="nav-link {{workerList}}"><i class="fas fa-tasks"></i><span>Admin panel</span></a></li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
</nav>
{% endblock %}
