{% extends 'base/base.html' %}

{% block content %}

<div class="container-fluid">
<div class="row">
    <br>
    <h1 class="text-center text-info"><strong>Dashboard</strong></h1>
    <h3 class="text-center">Este apartado es solo informativo</h3>
</div>
<br>

  <div class="container">
    <div class="row">

        <div class="col-sm-12 col-xl-6">
          <div class="card text-bg-primary mb-3">
            <div class="card-body">
              <div class="row">
                <h5 class="card-title"><strong>
                  Total de empleados registrados</strong></h5>
                <div class="row"><hr> </div>
              </div>
              <div style="text-align:  left;">
                <i class='fas fa-users' style='font-size:48px'></i>
              </div>
              <div class="row" style="text-align:  right;">
                <h2 class="text-right"><span>{{workers.count}}</span></h2>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-xl-6">
          <div class="card text-white bg-dark mb-3">
            <div class="card-body">
              <div class="row">
                <h5 class="card-title"><strong>
                  Total de productos disponibles</strong></h5>
                <div class="row"><hr> </div>
              </div>
              <div style="text-align:  left;">
                <i class='fas fa-boxes' style='font-size:48px'></i>
              </div>
              <div class="row" style="text-align:  right;">
                <h2 class="text-right"><span>{{products.count}}</span></h2>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-xl-6">
          <div class="card text-bg-success mb-3">
            <div class="card-body">
              <div class="row">
                <h5 class="card-title"><strong>
                  Total de categorias</strong></h5>
                <div class="row"><hr> </div>
              </div>
              <div style="text-align:  left;">
                <i class='fas fa-network-wired' style='font-size:48px'></i>
              </div>
              <div class="row" style="text-align:  right;">
                <h2 class="text-right"><span>{{categories.count}}</span></h2>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-xl-6">
          <div class="card text-bg-warning mb-3">
            <div class="card-body">
              <div class="row">
                <h5 class="card-title"><strong>
                  Total de líneas de producción</strong></h5>
                <div class="row"><hr> </div>
              </div>
              <div style="text-align:  left;">
                <i class='fas fa-cogs' style='font-size:48px'></i>
              </div>
              <div class="row" style="text-align:  right;">
                <h2 class="text-right"><span>{{prodLines.count}}</span></h2>
              </div>
            </div>
          </div>
        </div>
        
      </div>

      <div class="d-grid gap-2 col-2 mx-auto mb-4">
        <a class="btn btn-danger" type="button" href="{%url 'emp_logout'%}">Cerrar sesión</a>
      </div>
      
    </div>
  </div>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

{% endblock content %}
