{% extends 'base/base.html' %}

{% block content %}

<div class="container-fluid">
<div class="row">
    <h1 class="text-center">¡Bienvenido {{request.user.first_name}}!</h1>
    <br>
    <h1 class="text-center">Dashboard</h1>
</div>
<br>

  <div class="container">
    <div class="row">
        <div class="col-4">
          <div class="card text-bg-info mb-3">
            <div class="card-body">
              <h5 class="card-title">Total de empleados</h5>
              <img src="https://cdn-icons-png.flaticon.com/512/554/554744.png" alt="" width="45" height="45" class="d-inline-block align-text-top"></i>
              <h2 class="text-right"><span>0</span></h2>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card text-bg-warning mb-3">
            <div class="card-body">
              <h5 class="card-title">Total de productos</h5>
              <img src="https://cdn-icons-png.flaticon.com/512/2652/2652218.png" alt="" width="45" height="45" class="d-inline-block align-text-top"></i>
              <h2 class="text-right"><span>0</span></h2>

            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card text-bg-secondary mb-3">
            <div class="card-body">
              <h5 class="card-title">Total de proyectos activos</h5>
              <img src="https://cdn-user-icons.flaticon.com/46118/46118922/1666019810370.svg?token=exp=1666020767~hmac=7224dc4646062eae66278b90dc617da6" alt="" width="45" height="45" class="d-inline-block align-text-top"></i>
              <h2 class="text-right"><span>0</span></h2>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<script src="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

<br><br><br><br><br><br><br>
{% endblock content %}
