{% extends 'base/base.html' %}
{% block content %}
<h1 class="text-center text-info"><strong>Reporte semanal de todos los empleados</strong></h1>
<br>
<div class="container-fluid">
    <div class="card shadow">
        <div class="card-body">
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Id</th>
                            <th>Empleado</th>
                            <th style="text-align: center;">Lunes</th>
                            <th style="text-align: center;">Martes</th>
                            <th style="text-align: center;">Miércoles</th>
                            <th style="text-align: center;">Jueves</th>
                            <th style="text-align: center;">Viernes</th>
                            <th style="text-align: center;">Sábado</th>
                            <th style="text-align: center;">Domingo</th>
                            <th style="text-align: center;">Horas extra</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for Employee in employeesId %}
                        <tr>
                            <td>{{Employee.pk}}</td>
                            <td>{{Employee.empFirstName}} {{Employee.empLastName}}</td>
                            {% for weekDay in week %}
                                {% for element in weekDay %}
                                    {% for entry in element %}
                                        {% if Employee.pk == entry.assistWorker.pk %}
                                                <td style="text-align: center;"><span>{{entry.assistStart}} - {{entry.assistEnd}}</span><br>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        <tr>
                        {% endfor %}
                            <td style="text-align: center;"><strong>Id</strong></td>
                            <td><strong>Empleado</strong></td>
                            <td style="text-align: center;"><strong>Lunes</strong></td>
                            <td style="text-align: center;"><strong>Martes</strong></td>
                            <td style="text-align: center;"><strong>Miércoles</strong></td>
                            <td style="text-align: center;"><strong>Jueves</strong></td>
                            <td style="text-align: center;"><strong>Viernes</strong></td>
                            <td style="text-align: center;"><strong>Sábado</strong></td>
                            <td style="text-align: center;"><strong>Domingo</strong></td>
                            <td style="text-align: center;"><strong>Horas extra</strong></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr></tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
