{% extends 'base/base.html' %}
{% block content %}
<div class="container-fluid">

    <div class="row">
        <br>
        <h1 class="text-center">Reporte de horarios de empleados</h1>
    </div>
    <br>
    <div class="card shadow">
        <div class="card-body">
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Nombre(s)</th>
                            <th>Posición de trabajo</th>
                            <th>Salario</th>
                            <th>Horario de entrada</th>
                            <th>Horario de salida</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for worker in worker_List %}
                        <tr>
                            <td>{{ worker.workerEmployee }}</td>
                            <td>{{ worker.workerJobPosition }}</td>
                            <td>{{ worker.workerSalary }}</td>
                            <td>{{ worker.workerEntrance }}</td>
                            <td>{{ worker.workerOut }}</td>
                        </tr>
                        {% endfor %}
                    <tfoot>
                        <tr></tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
