{% extends 'base/base.html' %}
{% block content %}
<h1 class="text-center text-info"><strong>Reporte semanal de todos los empleados</strong></h1>
<br>
<div class="container-fluid">
    <div class="card shadow">
        <div class="card-body">
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Eid</th>
                            <th>Worker</th>
                            <th style="text-align: center;">Monday</th>
                            <th style="text-align: center;">Tuesday</th>
                            <th style="text-align: center;">Wednesday</th>
                            <th style="text-align: center;">Thursday</th>
                            <th style="text-align: center;">Friday</th>
                            <th style="text-align: center;">Saturday</th>
                            <th style="text-align: center;">Sunday</th>
                            <th style="text-align: center;">Extra hours</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for Employee in employeesId %}
                        <tr>
                            <td>{{Employee.pk}}</td>
                            <td>{{Employee.empFirstName}} {{Employee.empLastName}}</td>
                            {% for weekDay in week %}
                                {% for element in weekDay %}
                                    {% for entry in element %}
                                        {% if Employee.pk == entry.assistWorker.pk %}
                                                <td style="text-align: center;"><span>{{entry.assistEntrance}} - {{entry.assistOut}}</span><br>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        <tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr></tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
