{% extends 'base/base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
    </div>
    {% comment %} Aquí va el contenido {% endcomment %}
    <header>
        <!-- Background image -->
        <div
          class="p-5 text-center bg-image"
          style="
            background-image: url('https://www.baenegocios.com/__export/1657043668816/sites/cronica/img/2022/07/05/industria_brasil_2_crop1657043667946.jpg_1402874324.jpg'); height: 400px;">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
          </div>
        </div>
        <!-- Background image -->
      </header>

      <body>
        <h1>¡Bienvenido al portal de Parra's Inc!</h1>

      </body>
    {% comment %} Aquí termina el contenido {% endcomment %}
</div>
{% endblock %}