{% extends 'base/basehome.html' %}
{% block content %}
<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Dashboard</h3><a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#"><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate Report</a>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-4 mb-4">
            <div class="card shadow border-start-primary py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Fecha</span></div>
                            <div class="text-dark fw-bold h5 mb-0"><span>Lunes 17 de Octubre del 2022</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-12 col-xl-4 mb-4">
            <div class="card shadow border-start-success py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Horario de trabajo</span></div>
                            <div class="text-dark fw-bold h5 mb-0"><span>7:00 am - 13:00 pm</span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Employee Info</p>
        </div>
        <div class="card-body">
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Sunday</th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Sunday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Check in</strong></td>
                            <td>7:00</td>
                            <td>7:00</td>
                            <td>7:00</td>
                            <td>7:00</td>
                            <td>7:00</td>
                            <td>7:00</td>
                            <td>7:00</td>
                        </tr>
                        <tr>
                            <td><strong>Check out</strong></td>
                            <td>13:00</td>
                            <td>13:00</td>
                            <td>13:00</td>
                            <td>13:00</td>
                            <td>13:00</td>
                            <td>13:00</td>
                            <td>13:00</td>
                        </tr>
                        <tr>
                            <td><strong>Breack hours</strong></td>
                            <td>1 hours</td>
                            <td>1 hours</td>
                            <td>1 hours</td>
                            <td>1 hours</td>
                            <td>1 hours</td>
                            <td>1 hours</td>
                            <td>1 hours</td>
                        </tr>
                        <tr>
                            <td><strong>Extra hours</strong></td>
                            <td>1 hours</td>
                            <td>1 hours</td>
                            <td>1 hours</td>
                            <td>1 hours</td>
                            <td>1 hours</td>
                            <td>1 hours</td>
                            <td>1 hours</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr></tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
