{% extends 'base/base.html' %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <br>
    <h1 class="text-center text-info"><strong>Administración de producción</strong></h1>
  </div>
  <br>

  <div class="container">

    <div class="row">


      <div class="col-sm-12 col-xl-4">
        <div class="card text-bg-secondary mb-3">
          <div class="card-body">
            <div class="row">
              <h5 class="card-title">
                Reporte de horarios establecidos</h5>
              <div class="row">
                <hr>
              </div>
            </div>
            <div style="text-align:  left;">
              <i class='fas fa-cogs' style='font-size:48px'></i>
            </div>
            <div class="row" style="text-align:  right;">
              <h2 class="text-right"><span>0</span></h2>
            </div>
          </div>
        </div>
      </div>


      <div class="col-sm-12 col-xl-4">
        <div class="card text-bg-secondary mb-3">
          <div class="card-body">
            <div class="row">
              <h5 class="card-title">
                Asistencias de personal</h5>
              <div class="row">
                <hr>
              </div>
            </div>
            <div style="text-align:  left;">
              <i class='fas fa-cogs' style='font-size:48px'></i>
            </div>
            <div class="row" style="text-align:  right;">
              <h2 class="text-right"><span>0</span></h2>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-xl-4">
        <a href="#" style="text-decoration: none;">
          <div class="card text-bg-secondary mb-3">
            <div class="card-body">
              <div class="row">
                <h5 class="card-title">
                  Empleados por area</h5>
                <div class="row">
                  <hr>
                </div>
              </div>
              <div style="text-align:  left;">
                <i class='fas fa-cogs' style='font-size:48px'></i>
              </div>
              <div class="row" style="text-align:  right;">
                <h2 class="text-right"><span>0</span></h2>
              </div>
            </div>
          </div>
        </a>s
      </div>


    </div>

    <div class="d-grid gap-2 col-2 mx-auto">
      <a class="btn btn-danger" type="button" href="{%url 'emp_logout'%}">Cerrar sesión</a>
    </div>
    <br>
  </div>
</div>
<script src="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

{% endblock content %}