{% extends 'base/base.html' %}
{% block content %}
<div class="container-fluid">

    <div class="row">
        <br>
        <h1 class="text-center text-info"><strong>Reporte de empleados por área</strong></h1>
    </div>

    {% comment %} Impresión de todas las areas {% endcomment %}
    <div class="row">
        {% for Area in areasList %}
        <div class="col-md-6 col-xl-6">
            <div class="d-sm-flex justify-content-between align-items-center mb-4">
                <h3 class="text-dark mb-0">[Area] {{Area.areaName}}</h3>
            </div>
            {% comment %} Imprimir todas las líneas de producción {% endcomment %}
            {% for Line in linesList %}
            {% if Line.productionLineArea.pk == Area.pk %}
            <h4 class="text-secondary">{{Line.productionLineName}}</h4>

            <div class="card shadow">
                <div class="card-body">
                    <div class="table-responsive table mt-2" id="dataTable" role="grid"
                        aria-describedby="dataTable_info">
                        <table class="table my-0" id="dataTable">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre completo</th>
                                    <th>Puesto</th>
                                    <th>Correo (username)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for Member in workersList %}
                                        {% if Member.lineMemberWorker.pk == Line.pk %}
                                        <td>{{Member.lineMemberWorker.workerEmployee.pk}}</td>
                                        <td>{{Member.lineMemberWorker.workerEmployee.empFirstName}} {{Member.lineMemberWorker.workerEmployee.empLastName}}</td>
                                        <td>{{Member.lineMemberWorker.workerJobPosition.jpName}}</td>
                                        <td>{{Member.lineMemberWorker.workerEmployee.user}}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr></tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <br>
    <div class="d-grid gap-2 col-2 mx-auto">
        <a class="btn btn-danger" type="button" href="{%url 'emp_logout'%}">Cerrar sesión</a>
    </div>

</div>
<br><br>
{% endblock %}